<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Ali Bulut</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper("nav-link", "span") %>

      <%# and here we can define view helper. The difference is generally we dont write inside of view helpers html.
Generally we use helpers for razor operations.(like if else or case statements) %>
      <%= login_helper("nav-link") %>
    </nav>
  </div>
</div>