<h1>About Me</h1>

<hr>

<p>I have over 4 years of amateur experience in Software Development. Currently I am studying at university whose education is fully English as Computer Engineering student. I have an experience in using Object Oriented Programming Principles. I have been building web-based applications by using various technologies and object-oriented concepts. </p>
<a href="https://www.github.com/ali-bulut" target="_blank">My Github Account</a> <br>
<a href="https://www.linkedin.com/in/bulutali/" target="_blank">My LinkedIn Account</a> <br> <br> <br>
<a href="mailto:alibulut@yahoo.com" target="_blank">You may contact me via email</a>
